h5 {
    font-weight: 600;
    font-family: sans-serif;
    font-size: 1.3rem;
    color: var(--color-LoyalBlue);
}

.card-body--bg {
    background-color: var(--bg-White-element);
    border: none;
}

img {
    height: 175px !important;
    object-fit: cover;
}

.card-body {
    background-color: var(--bg-White-element);
}

li,
h5 {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

li {
    padding: 2px 0px;
    font-size: 14px;
    letter-spacing: 1px;
}

li span {
    color: var(--color-DarkCoolGrey-info);
}

@media only screen and (min-width: 903px) {

    h5 {
        font-size: 18px;
    }

    .card-hover--scale-down {
        transition: all 0.3s ease-in-out;
    }

    .card-hover--scale-down:hover {
        transform: scale(0.95);
        box-shadow: none !important;
    }
}

@media only screen and (min-width: 768px) {
    body {
        overflow: hidden;
    }

    .fav-star-visiblity {
        visibility: hidden;
    }
}

@media only screen and (max-width: 767px) {
    .fav-star-visiblity {
        position: absolute;
        bottom: 13px;
        right: 28px;
        font-size: 1.2rem;
        color: var(--color-LightCoolGrey-info);
    }

    .color-favourite {
        color: var(--color-favourite);
    }
}