/* Favourites */

.favourites {
    max-height: calc(100vh - 280px);
    background-color: var(--bg-White-element);
}

.content {
    height: calc(100vh - 380px);
    background-color: var(--bg-White-element);
}

h5 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 1.3rem;
    color: var(--color-LoyalBlue);
}