/* Importing Sans-Serif Font from google fonts */

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;1,800&display=swap");

/* Public */

* {
  color: var(--color-LoyalBlue);
  background-color: var(transparent);
  font-family: sans-serif;
  border: none !important;
  transition: background-color 0.2s linear;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  /* Light Mode Colors */
  --bg-WallPaperGrey: #fafafa;
  --bg-White-element: #ffffff;
  --color-LoyalBlue: #111517;
  --color-DarkCoolGrey-info: #111517;

  /* Dark Mode Colors */
  --bg-SpaceBlue: #202c37;
  --bg-CoolBlue-element: #2b3945;
  --color-LoyalWhite: #ececec;
  --color-LightCoolGrey-info: #cfcbcb;

  /* public */
  --bs-body-bg: transparent;
  --CentralizedContainerWidth: 90%;
  --color-favourite: #f1770b;
}

.centralized-container {
  width: var(--CentralizedContainerWidth);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none !important;
}

.shadow-sm {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
}

main {
  background-color: var(--bg-WallPaperGrey);
  min-height: 100vh;
}

/* Scollable */

@media only screen and (min-width: 768px) {
  /* custom scrollbar */

  .scrollable-element {
    max-height: calc(100vh - 280px);
    overflow-y: scroll;
  }

  .scrollable-element::-webkit-scrollbar {
    display: block;
    width: 0.5em;
    height: 0.5em;
  }

  .scrollable-element::-webkit-scrollbar-track {
    background-color: var(--bg-White-element);
    border: 1px solid rgba(201, 201, 201, 0.309);
    margin-block: 0.1em;
    margin-left: 10px;
  }

  .scrollable-element::-webkit-scrollbar-thumb {
    display: inline-block;
    background: var(--color-LightCoolGrey-info);
    border-radius: 100vw;
  }
}
